/* This style sheet is created by Apil Kumal, C0907153 */
body{
    background-color: rgb(9, 3, 16);
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .dice {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .dice img {
    width: 100px;
    height: 100px;
    margin: 0 10px;
  }
  
  .scores {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  
  .scoreboard {
    text-align: center;
    color: rgb(233, 216, 216);
  }
  
  #roll-button {
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #winner {
    display: none;
  }